<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
		<mapping>
			<level value="ERROR" />
			<foreColor value="Red, HighIntensity" />
		</mapping>
		<mapping>
			<level value="WARN" />
			<foreColor value="Yellow, HighIntensity" />
		</mapping>
		<mapping>
			<level value="INFO" />
			<foreColor value="White, HighIntensity" />
		</mapping>
		<mapping>
			<level value="Debug" />
			<foreColor value="Green" />
		</mapping>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<appender name="IrcLogs" type="log4net.Appender.FileAppender">
		<file value="irc.log" />
		<appendToFile value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger - %message%newline" />
		</layout>
	</appender>
	
	<appender name="BotLogs" type="log4net.Appender.FileAppender">
		<file value="bot.log" />
		<appendToFile value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="BotLogs" />
		<appender-ref ref="ConsoleAppender" />
	</root>

	<logger name="Default.Helpmebot.Legacy.Database.DAL">
		<level value="OFF" />
	</logger>

	<logger name="Helpmebot">
		<level value="DEBUG" />
	</logger>

	<logger name="Helpmebot.IRC.IrcClient">
		<level value="DEBUG" />
	</logger>

	<logger name="Helpmebot.IRC.IrcClient.Sync">
		<level value="OFF" />
	</logger>

	<logger name="Helpmebot.IRC.SslNetworkClient" additivity="false">
		<level value="ALL" />
		<appender-ref ref="IrcLogs" />
	</logger>
</log4net>
